.header {
  @apply fixed left-0 top-0 w-full bg-white;



  .scrolled & {
    @apply shadow;
  }
  z-index: 3000;
  .wrap {
    @apply flex items-center w-full;
    height: 110px;
    padding:0 60px;
    .header__logo {
      img {
        height: 70px;
        @media screen and (max-width: 1200px) {
          height: 45px;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      height: 60px;
      padding:0 10px;

    }
  }

  .header__cart {
    @apply flex items-center justify-center;
    margin-left: auto;
    width: 45px;
    height: 45px;
    background:#c2c1c5;
    color:#fff;
    border-radius: 50%;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
.header__menu {
  margin-right: auto;
  width: 45px;
  height: 45px;
  text-indent:-9999px;
  overflow: hidden;
  background: url('../../images/icon-menu.png') no-repeat center;
  background-size: 100% auto;

  @media screen and (max-width: 1200px) {
    order: 2;
    margin-left: auto;
    margin-right: 0;
  }
}

.nav {
  @apply fixed top-0 bg-white h-full shadow-2xl;
  z-index: 3100;
  width: 400px;
  left: -400px;
  transition: all .3s;
  &.active {
    left: 0;
  }
  @media screen and (max-width: 1200px) {
    max-width: 400px;
    width: 80%;
    left: auto;
    right: -100%;
    &.active {
      left: auto;
      right: 0;
    }
  }

  .nav__header {
    @apply flex items-center;
    height: 110px;
    padding:0 60px;
    @media screen and (max-width: 1200px) {
      height: 60px;
      padding:0 10px;
    }
  }
  .header__menu {
    background: url('../../images/icon-x.png') no-repeat center;
    background-size: 35px 35px;
  }

  .nav__body {
    padding:0 60px;
    @media screen and (max-width: 1200px) {
      padding:0 20px;
    }

    .row {
      margin-bottom: 20px;

      h2 {
        font-weight: 600;
        font-size: 1.5rem;
      }
      .depth {
        margin-top: 5px;
        @apply flex flex-wrap;
        a {
          line-height: 40px;
          width: 50%;
          flex: none;
          color:#6666;
          &:hover {
            color:#000;
          }
        }
      }
    }
  }
}
