{% extends './layout/base.njk' %}

{% block content %}

    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-6 col-lg-6">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-account-multiple widget-icon"></i>
                                </div>
                                <h5 class=" font-weight-normal mt-0" title="전체 회원수">
                                    <a href="/adm/users" class="text-muted">전체 회원수</a>
                                </h5>
                                <h3 class="mt-3 mb-3">{{ userCount }}</h3>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-cart-plus widget-icon"></i>
                                </div>
                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Orders">
                                    <a href="/adm/order" class="text-muted">전체 주문수</a>
                                </h5>
                                <h3 class="mt-3 mb-3">{{ orders|length }}</h3>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-currency-usd widget-icon"></i>
                                </div>
                                <h5 class="text-muted font-weight-normal mt-0" title="Average Revenue">
                                    <a href="/adm/product" class="text-muted">전체 상품 수</a>
                                </h5>
                                <h3 class="mt-3 mb-3">{{ productCount }}</h3>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card widget-flat">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-pulse widget-icon"></i>
                                </div>
                                <h5 class="text-muted font-weight-normal mt-0" title="Growth">
                                    <a href="/adm/qna" class="text-muted">전체 문의 수</a>
                                </h5>
                                <h3 class="mt-3 mb-3">{{ qnaCount }}</h3>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row -->

            </div> <!-- end col -->

            <div class="col-xl-6  col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">월별 주문 현황</h4>
                        <canvas id="myChart" width="400" height=""></canvas>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->

            </div> <!-- end col -->
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-2 mb-3">주문내역</h4>
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover mb-0">
                                <tbody>
                                {% if orders | length %}
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <h5 class="font-14 my-1 font-weight-normal">{{ order.id }}</h5>
                                                <span class="text-muted font-13">주문 번호</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 font-weight-normal">
                                                    <img src="{{ order.Carts[0].ProductOptionDetail.path }}" alt="" style="width: 60px;">
                                                </h5>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 font-weight-normal">
                                                    <a href="/adm/order/detail/{{ order.id }}">
                                                        {{ order.Carts[0].Product.name }} 등
                                                    </a>
                                                </h5>
                                                <span class="text-muted font-13">제품 명</span>
                                            </td>
                                            <td>
                                                <h5 class="font-14 my-1 font-weight-normal">{{ order.createdAt|date("YYYY-MM-DD") }}</h5>
                                                <span class="text-muted font-13">주문 일시</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center">주문내역이 없습니다.</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-2 mb-3">회원 내역</h4>

                        <div class="table-responsive">
                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>이름</th>
                                    <th>이메일</th>
                                    <th>닉네임</th>
                                    <th>가입채널</th>
                                    <th>가입일</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td class="table-user">
                                            <a href="/adm/user/{{ user.id }}" class="text-body font-weight-semibold">
                                                {% if user.thumbnail %}
                                                    <img src="{{ user.thumbnail }}" alt="table-user" class="mr-1 rounded-circle">
                                                {% endif %}
                                                {{ user.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ user.email }}
                                        </td>
                                        <td>
                                            {{ user.nickname }}
                                        </td>
                                        <td>
                                            {% if user.provider === 'kakao' %}
                                                <h5><span class="badge badge-warning">{{ user.provider }}</span></h5>
                                            {% elseif user.provider === 'naver' %}
                                                <h5><span class="badge badge-success">{{ user.provider }}</span></h5>
                                            {% else %}
                                                <h5><span class="badge badge-light">{{ user.provider }}</span></h5>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ user.createdAt | date("YYYY-MM-DD HH:mm:ss")   }}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row -->
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script>

      var theMonths = new Array("12", "11", "10", "9", "8", "7", "6", "5", "4", "3", "2", "1");
      var now = new Date();

      var dataLabels = [];
      for (var i = 0; i < 12; i++) {
        var future = new Date(now.getFullYear(), now.getMonth() - i, 1);
        var month = theMonths[future.getMonth()];
        var year = future.getFullYear();

        dataLabels.push(year + '년' + month + '월')
      }

      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: dataLabels,
          datasets: [{
            label: '가입자 수',
            data: [{{ dataLabels.userCount }}],
            backgroundColor: 'rgba(255, 99, 132)',
          }, {
            label: '주문 수량',
            data: [{{ dataLabels.orderCount }}],
            backgroundColor:  '#727cf5',
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                min: 0,
                precision: 0
              }
            }]
          }
        }
      });
    </script>
{% endblock %}
