{% extends 'layout/base.njk' %}

{% block content %}
    {% include 'layout/header.njk' %}
    <div class="container">
        <div class="accounts">
            <div class="wrap">
                <form action="" method="POST" id="signupForm">
            <div class="form">
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" value="{{ user.name }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="email" value="{{ user.email }}" placeholder="이메일" >
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" name="number" value="{{ user.number }}" readonly placeholder="연락처">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="password" name="password" id="password" value="" placeholder="비밀번호" >
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="password" name="passwordCheck" id="password-check" value="" placeholder="비밀번호 확인">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" name="companyName" id="companyName" value="{{ user.companyName }}" placeholder="상호명" required/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" name="companyCode" id="companyCode" value="{{ user.companyCode }}" placeholder="사업자 등록번호" maxlength="10" readonly/>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="row">
                        <div class="input">
                            <input type="text" name="companyAddrCode" id="companyAddrCode" value="{{ user.companyAddrCode }}" placeholder="우편번호" readonly/>
                        </div>
                        <div class="form-btnbox ml-2" style="margin-top: 0;">
                            <button class="cancel" style="height: 45px;line-height:45px;font-size: 14px;" onclick="searchAddress();" type="button">주소 검색</button>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="input">
                            <input type="text" name="companyAddr1" id="companyAddr1" value="{{ user.companyAddr1 }}" placeholder="사업장 주소" readonly/>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="input">
                            <input type="text" name="companyAddr2" id="companyAddr2" value="{{ user.companyAddr2 }}" placeholder="사업장 상세 주소" required/>
                            <input type="hidden" name="companyAddr3" id="companyAddr3" value="{{ user.companyAddr3 }}" placeholder="세부 주소" readonly/>
                        </div>
                    </div>
                </div>
                <div id="wrap" style="display:none;border:1px solid;width:100%;height:300px;position:relative">
                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                </div>
            </div>
            <div class="form-btnbox">
                <a href="/" class="cancel mr-1">취소</a>
                <button type="submit" class="submit">정보 수정</button>
            </div>

            <div style="display: none;">
                썸네일
                <img src="{{ user.thumbnail }}" id="userThumbnail" alt="">
                <input type="file" accept="image/*" name="thumbnail" onchange="changeThumbnail(this);">
            </div>
            <div style="display: none;">
                마지막 로그인
                <input type="text" value="{{ user.last_login | date('YYYY-MM-DD HH:mm:ss') }}" readonly>
            </div>
            <div style="display: none;">
                회원가입일
                <input type="text" value="{{ user.createdAt | date('YYYY-MM-DD HH:mm:ss') }}" readonly>
            </div>
        </form>
            </div>
        </div>
    </div>
    {% include 'layout/footer.njk' %}
{% endblock %}

{% block script %}
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      // 우편번호 찾기 찾기 화면을 넣을 element
      var element_wrap = document.getElementById('wrap');

      function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
      }

      function searchAddress() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
          oncomplete: function(data) {
            // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
              addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
              addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
              // 법정동명이 있을 경우 추가한다. (법정리는 제외)
              // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
              if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                extraAddr += data.bname;
              }
              // 건물명이 있고, 공동주택일 경우 추가한다.
              if(data.buildingName !== '' && data.apartment === 'Y'){
                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
              }
              // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
              if(extraAddr !== ''){
                extraAddr = ' (' + extraAddr + ')';
              }
              // 조합된 참고항목을 해당 필드에 넣는다.
              document.getElementById("companyAddr3").value = extraAddr;

            } else {
              document.getElementById("companyAddr3").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('companyAddrCode').value = data.zonecode;
            document.getElementById("companyAddr1").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("companyAddr2").focus();

            // iframe을 넣은 element를 안보이게 한다.
            // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
            element_wrap.style.display = 'none';

            // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
            document.body.scrollTop = currentScroll;
          },
          // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
          onresize : function(size) {
            element_wrap.style.height = size.height+'px';
          },
          width : '100%',
          height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
      }
    </script>
<script>
function changeThumbnail(field) {
    var formData = new FormData();
    formData.append('thumbnail', field.files[0]);
    $.ajax({
        url: '/mypage/thumbnail',
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
    }).done(function(data){
      if(data.success) {
        alert('썸네일이 변경 되었습니다.')
        $("#userThumbnail").attr('src', data.imgPath);
      } else {
        alert(data.message);
      }
    }).fail(function(error) {
        console.error(error);
    }).always(function(res){
    });
}

$(function(){
  $('#signupForm').submit(function(e){
    e.preventDefault();
    var password = $('#password').val();
    var passwordCheck = $('#password-check').val();
    if(password !== passwordCheck) {
      alert('비밀번호가 같지않습니다.');
      $('#password').val('');
      $('#password-check').val('');
      return;
    }
    $.ajax({
      url: '/mypage',
      type: 'post',
      data: $(this).serialize(),
    }).done(function(res){
        alert('회원정보 수정이 완료되었습니다.')
        location.href='/mypage';
    }).fail(function(error) {
      console.error(error);
    }).always(function(res){
    });
  })
})
</script>
{% endblock %}

