{% extends 'layout/base.njk' %}

{% block content %}
    {% include 'layout/header.njk' %}
<div class="container">
    <div class="board">
        <div class="wrap">
            <h1 class="board__title">1:1문의
                {% if object.id %} 수정
                {% else %} 등록
                {% endif %}</h1>
            {{ message }}
            <form action="" method="POST" class="block">

                <div class="form-row mb-5">
                    <label for="" class="form-label">제목</label>
                    <div class="row">
                        <div class="input">
                            <input type="text" name="title" placeholder="title" value="{{ object.title }}" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="" class="form-label">문의 내용</label>
                    <div class="row">
                        <div class="textarea">
                            <textarea name="content" placeholder="content" cols="30" rows="10">{{ object.content }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row flex items-center">
                    <label for="is_secret" class="form-label mr-1">비밀글</label>
                    <label for="is_secret" class="checkbox">
                        <input type="checkbox" class="custom-control-input" hidden id="is_secret" name="is_secret" {% if object.is_secret %} checked {% endif %}>
                        <span class="mr-1"></span>
                    </label>
                </div>
{#                <div class="flex">#}
{#                    <div class="custom-control custom-checkbox mr-2">#}
{#                        <input type="checkbox" class="custom-control-input" id="receive_email" name="receive_email" {% if object.receive_email %} checked {% endif %}>#}
{#                        <label class="custom-control-label" for="receive_email">이메일</label>#}
{#                    </div>#}

{#                    <div class="custom-control custom-checkbox mr-2">#}
{#                        <input type="checkbox" class="custom-control-input" id="receive_sms" name="receive_sms" {% if object.receive_sms %} checked {% endif %} >#}
{#                        <label class="custom-control-label" for="receive_sms">SMS</label>#}
{#                    </div>#}

{#                    <div class="custom-control custom-checkbox">#}
{#                        <input type="checkbox" class="custom-control-input" id="receive_talk" name="receive_talk" {% if object.receive_talk %} checked {% endif %} >#}
{#                        <label class="custom-control-label" for="receive_talk">카카오</label>#}
{#                    </div>#}
{#                </div>#}
                <div class="board__btnbox">
                    <button type="submit" class="button">
                        {% if object.id %} 수정
                        {% else %} 등록
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    {% include 'layout/footer.njk' %}

{% endblock %}


{% block script %}
{% endblock %}
