<div class="left-side-menu">
    <!-- LOGO -->
    <a href="/" class="logo text-center logo-light" style="color:#fff;font-size: 24px;font-weight: 600;">
        관리자페이지
    </a>

    <div class="h-100" id="left-side-menu-container" data-simplebar>
        <ul class="metismenu side-nav">
            <li class="side-nav-title side-nav-item">Navigation</li>
            <li class="side-nav-item">
                <a href="/adm" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboards </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-gear"></i>
                    <span> 사이트관리 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="{{ routes.adminSetting }}">사이트관리</a>
                    </li>
                    <li>
                        <a href="{{ routes.adminPopup }}">팝업관리</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="uil uil-user"></i>
                    <span> 회원관리 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/adm/users">회원관리</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="uil uil-shop"></i>
                    <span> 상점관리 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/adm/category">카테고리 관리</a>
                    </li>
                    <li>
                        <a href="/adm/options">옵션 관리</a>
                    </li>
                    <li>
                        <a href="/adm/product">상품 관리</a>
                    </li>
                    <li>
                        <a href="/adm/order">주문 내역 관리</a>
                    </li>
                    <li>
                        <a href="/adm/message">알림톡 전송</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="uil uil-meeting-board"></i>
                    <span> 게시판 관리 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/adm/board/notice">공지사항</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="/adm/qna" class="side-nav-link">
                    <i class="uil uil-comment-question"></i>
                    <span> 1:1 문의 </span>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
