<style>
    .footer__links{margin-bottom: 10px;}
    .footer__links a {font-size: 14px;color:#999;display:inline-block;margin:0 5px;}
    .footer__links a:hover {color:#000;}
</style>
<div class="footer ">
    <div class="footer__logo">
        <a href="/"><img src="/static/images/logo-new.jpg" alt=""></a>
    </div>
    <div class="footer__info" style="font-size:.875rem;color:#999;margin-bottom: 10px;">
        사업자 번호 : 109-14-20412<br/>
        상호 : 한빛안경랜드 | 대표자 : 서승현<br/>
        주소 : 서울특별시 강서구 금낭화로 91-2, 108호 (방화동, 대승프라자)<br/>
        유선 : 02-2661-5111
    </div>

    <div class="footer__links">
        <a href="/orderinfo">배송/교환/환불 정보</a>
        <a href="/private">개인정보 처리방침</a>
        <a href="/terms">이용약관</a>
    </div>

    <p>Copyright Co.한빛안경LAND All Rights Reserved.</p>
</div>
